@use '../../styles/variables' as *;

@layer kiba-structure {
  .KibaBulletText {
    counter-increment: list-number;
    display: table;
    &:before {
      display: table-cell;
      padding-right: 1em;
    }
  }
}

@layer kiba-theme {
  .KibaBulletText {
    font-size: $font-size;
    font-family: $font-family;
    color: $color-text;
    line-height: 1.5em;
    &:before {
      color: $color-brand-primary;
    }
  }
}
