@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;

@layer kiba-structure {
  .KibaBulletText {
    counter-increment: list-number;
    display: table;
    &::before {
      display: table-cell;
      padding-right: 1em;
      content: '•';
    }
  }
}

@layer kiba-theme {
  .KibaBulletText {
    @include text.default;
    &::before {
      color: $color-text;
      font-weight: bold;
    }
  }
}
