@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaIconButton {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-clip: border-box;
    position: relative;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-decoration: none;

    &.fullWidth { width: 100%; }
    &.fullHeight { height: 100%; }
    &.disabled { cursor: not-allowed; }
  }
}

@layer kiba-theme {
  .KibaIconButton {
    @include text.default;
    @include box.default;
    @include box.focusable;
    @include transition;
    padding: $padding;
    border-width: 2px;

    &:hover {
      background-color: var(--kiba-color-brand-primary-clear90);
    }

    &:active {
      background-color: var(--kiba-color-brand-primary-clear80);
    }

    &:focus-visible {
      border-color: $color-background-dark50;
    }

    &.disabled {
      background-color: var(--kiba-color-text-clear90);
      cursor: not-allowed;
    }

    &.disabled .KibaIcon {
      color: var(--kiba-color-text-clear50);
    }

    // Primary variant
    &.primary {
      background-color: $color-brand-primary;
      border-color: $color-brand-primary;
      color: $color-text-on-brand;
    }

    &.primary .KibaIcon {
      color: $color-text-on-brand;
    }

    &.primary:hover {
      background-color: var(--kiba-color-brand-primary-dark10);
    }

    &.primary:active {
      background-color: var(--kiba-color-brand-primary-dark20);
    }

    &.primary.disabled {
      background-color: $color-background-light10;
      border-color: transparent;
    }

    // Secondary variant
    &.secondary {
      border-color: $color-brand-primary;
    }

    &.secondary .KibaIcon {
      color: $color-brand-primary;
    }

    // Tertiary variant
    &.tertiary {
      background-color: transparent;
    }

    // Small variant
    &.small {
      padding: $padding-narrow;
    }

    // Passive variant
    &.passive {
      opacity: 0.5;
    }

    &.passive:hover {
      opacity: 1;
    }

    // Large variant
    &.large {
      padding: $padding-wide;
    }
  }
}
