@layer kiba-structure {
  .KibaText {
    box-sizing: border-box;
  }
  .KibaText.singleLine {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .KibaText.fixedLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@layer kiba-theme {
  .KibaText {
    font-size: var(--kiba-font-size, 16px);
    font-family: var(--kiba-font-family, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
    font-weight: normal;
    color: var(--kiba-color-text);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    text-align: inherit;
    text-shadow: inherit;
    text-transform: inherit;
  }

  .KibaText.inherit {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    text-decoration: inherit;
    margin: inherit;
    text-align: inherit;
    text-shadow: inherit;
    text-transform: inherit;
  }

  .KibaText.bold,
  .KibaText.strong {
    font-weight: bolder;
  }

  .KibaText.italic,
  .KibaText.emphasis {
    font-style: italic;
  }

  .KibaText.underline,
  .KibaText.inserted {
    text-decoration: underline;
  }

  .KibaText.small,
  .KibaText.smaller {
    font-size: smaller;
  }

  .KibaText.large {
    font-size: larger;
  }

  .KibaText.deleted {
    text-decoration: line-through;
  }

  .KibaText.subscript {
    vertical-align: sub;
    font-size: smaller;
  }

  .KibaText.superscript {
    vertical-align: super;
    font-size: smaller;
  }

  .KibaText.header1,
  .KibaText.header {
    font-size: 3.0rem;
    font-weight: 800;
    color: var(--kiba-color-text);
    line-height: 1.2em;
  }

  .KibaText.header2,
  .KibaText.title {
    font-size: 2.0rem;
    font-weight: 700;
    color: var(--kiba-color-text);
    line-height: 1.2em;
  }

  .KibaText.header3,
  .KibaText.subtitle {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--kiba-color-text);
    line-height: 1.2em;
  }

  .KibaText.header4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--kiba-color-text);
    text-decoration: underline;
    line-height: 1.2em;
  }

  .KibaText.header5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--kiba-color-text);
    line-height: 1.2em;
  }

  .KibaText.header6 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--kiba-color-text);
    line-height: 1.2em;
  }

  .KibaText.note {
    font-size: 0.8rem;
    color: var(--kiba-color-text-light25, rgba(238, 238, 238, 0.75));
  }

  .KibaText.supersize {
    font-size: 3rem;
  }

  .KibaText.unmargined {
    margin: 0;
  }

  .KibaText.margined {
    margin: 1em 0 0.5em 0;
  }

  .KibaText.colored,
  .KibaText.branded {
    color: var(--kiba-color-brand-primary);
  }

  .KibaText.error {
    color: var(--kiba-color-error);
  }

  .KibaText.success {
    color: var(--kiba-color-success);
  }
}
