@use '../../styles/variables' as *;

@layer kiba-structure {
  .Divider {
    flex-shrink: 0;
    margin: 0;
    border-style: solid;
    border-width: 0;
    &.horizontal {
      width: 100%;
    }
    &.vertical {
      flex-direction: column;
      height: 100%;
    }
  }
}

@layer kiba-theme {
  .Divider {
    color: $color-background-dark05;
    &.horizontal {
      border-bottom-width: 1px;
    }
    &.vertical {
      border-right-width: 1px;
    }
  }
}
