@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaCollapsibleBox {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .KibaCollapsibleBoxHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .KibaCollapsibleBoxContent {
    width: 100%;
  }
}

@layer kiba-theme {
  .KibaCollapsibleBox {
    @include box.default;
    @include box.focusable;
    border-color: var(--kiba-color-background-dark10);
  }

  .KibaCollapsibleBoxHeader {
    @include text.default;
    cursor: pointer;
    padding: $padding $padding-wide;
    background-color: var(--kiba-color-background-dark05);
    border-radius: 0;
  }

  .KibaCollapsibleBox:hover > .KibaCollapsibleBoxHeader {
    background-color: var(--kiba-color-background-dark10);
  }

  .KibaCollapsibleBox:active > .KibaCollapsibleBoxHeader {
    background-color: var(--kiba-color-brand-primary-clear80);
  }

  .KibaCollapsibleBoxContent {
    padding: $padding $padding-wide;
  }

  .KibaCollapsibleBox.unpaddedHeader > .KibaCollapsibleBoxHeader {
    padding: 0;
  }
}
