@use '../../styles/variables' as *;

@layer kiba-structure {
  .KibaIcon {
    display: inline-flex;
    flex-shrink: 0;
    width: var(--kiba-icon-size, 1em);
    height: var(--kiba-icon-size, 1em);
    overflow: hidden;
    & > svg {
      width: 100%;
      height: 100%;
    }
    &.fill > svg {
      fill: var(--kiba-icon-color, currentColor);
    }
    &.stroke > svg {
      stroke: var(--kiba-icon-color, currentColor);
    }
  }
}

@layer kiba-theme {
  .KibaIcon {
  }
}
