@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaProgressCounterItem {
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-clip: border-box;
    transition-duration: 0.3s;
    border: none;
    &.disabled {
      cursor: auto;
    }
  }
}

@layer kiba-theme {
  .KibaProgressCounterItem {
    @include text.default;
    @include box.default;
    @include box.focusable;
    padding: $padding-narrow $padding;
    background-color: $color-background-light10;

    &:hover {
      background-color: $color-background-dark05;
    }

    &:active {
      background-color: $color-background-dark05;
    }

    &:focus {
      background-color: $color-background-dark05;
    }

    &.disabled {
      background-color: $color-background-light10;
      color: $color-disabled-text;
      opacity: 0.5;
    }

    &.selected {
      background-color: $color-brand-primary;
      color: $color-text-on-brand;

      &:hover {
        background-color: $color-brand-secondary;
      }

      &:active {
        background-color: $color-brand-secondary;
      }

      &:focus {
        background-color: $color-brand-secondary;
      }
    }
  }
}
