@use '../../styles/variables' as *;

@layer kiba-structure {
  .KibaBulletList {
    counter-reset: list-number;
    list-style-position: outside;
    text-indent: -0.1em;
    display: table;
  }
}

@layer kiba-theme {
  .KibaBulletList {
    list-style-type: none;
    margin: 0 0 0 $padding-wide;
  }
}
