@use '../../styles/variables' as *;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaSelectableView {
    position: relative;
    color: currentColor;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    width: fit-content;
    box-sizing: border-box;
    &.fullWidth { width: 100%; }
    &.fullHeight { height: 100%; }
    &.disabled { cursor: not-allowed; }
    > .KibaSelectableView-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      box-sizing: border-box;
    }
  }
}

@layer kiba-theme {
  .KibaSelectableView {
    @include box.default;
    @include box.focusable;
    @include box.transparent;
    > .KibaSelectableView-overlay {
      @include box.default;
      @include box.focusable;
      background-color: transparent;
      border-color: transparent;
      padding: 0;
    }
    &:hover > .KibaSelectableView-overlay {
      background-color: var(--kiba-color-brand-primary-clear80);
    }
    &:active > .KibaSelectableView-overlay {
      background-color: var(--kiba-color-brand-primary-clear50);
    }
    &.selected > .KibaSelectableView-overlay {
      background-color: transparent;
      border-color: transparent;
    }
    &.disabled {
      > .KibaSelectableView-overlay {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:hover > .KibaSelectableView-overlay,
      &:active > .KibaSelectableView-overlay {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
