@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaButton {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    background-clip: border-box;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

    &.fullWidth { width: 100%; }
    &.fullHeight { height: 100%; }
    &.disabled { cursor: not-allowed; }
    &.isLoading { cursor: default; }

    .KibaButton-text {
      width: auto;
      &.fullWidth { width: 100%; }
    }
  }
}

@layer kiba-theme {
  .KibaButton {
    @include text.default;
    @include box.default;
    @include box.focusable;
    @include transition;
    padding: $padding $padding-wide;
    border-width: 2px;
    color: $color-brand-primary;
    font-weight: 600;
    text-align: center;

    &:hover {
      background-color: $color-brand-primary-clear90;
    }

    &:active {
      background-color: $color-brand-primary-clear80;
    }

    &:focus-visible {
      border-color: $color-background-dark50;
    }

    &:visited {
      color: $color-brand-primary;
    }

    // Disabled state
    &.disabled {
      background-color: $color-disabled-light50;
      color: $color-disabled-text;
    }

    &.disabled:hover,
    &.disabled:active,
    &.disabled:focus-visible {
      background-color: $color-disabled-light50;
      color: $color-disabled-text;
    }

    // Primary variant
    &.primary {
      background-color: $color-brand-primary;
      border-color: $color-brand-primary;
      color: $color-text-on-brand;
    }

    &.primary:hover {
      background-color: $color-brand-secondary;
    }

    &.primary:active {
      background-color: var(--kiba-color-brand-secondary-dark10, #158040);
    }

    // Secondary variant
    &.secondary {
      border-color: $color-brand-primary;
    }

    // Large variant
    &.large {
      padding: $padding-wide $padding-wide2;
      font-size: 1.2em;
    }

    // Small variant
    &.small {
      padding: $padding-narrow $padding;
      font-size: 0.8em;
    }

    // Card variant
    &.card {
      box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.15);
      margin: 0px 4px 12px 4px;
    }
  }
}
