@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@mixin input-states($hover-color, $focus-color) {
  &:hover .KibaInputWrapperInner {
    border-color: $hover-color;
  }
  &.focus .KibaInputWrapperInner,
  &:focus-within .KibaInputWrapperInner {
    border-color: $focus-color;
  }
}

@layer kiba-structure {
  .KibaInputWrapper {
    display: flex;
    flex-direction: column;

    &.full-width {
      width: 100%;
    }

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .KibaInputWrapperInner {
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    & input,
    & textarea,
    & .wrapped-input {
      @include text.inherit;
      width: 100%;
    }
  }

  .KibaInputWrapperMessage {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    overflow: auto;
    width: 100%;
    text-align: right;
  }
}

@layer kiba-theme {
  .KibaInputWrapper {
    transition-duration: 0.3s;
    @include input-states(var(--kiba-color-brand-primary-light10), $color-brand-primary);

    & * {
      transition-duration: 0.3s;
    }
  }

  .KibaInputWrapperInner {
    @include text.default;
    @include box.default;
    background-color: var(--kiba-color-background-light50);
    padding: $padding $padding-wide;
    border-width: var(--kiba-border-width-narrow);
    border-color: $color-background-dark05;
    border-style: solid;

    &::placeholder,
    & input::placeholder,
    & textarea::placeholder,
    & .wrapped-input:empty::before {
      color: var(--kiba-color-text-clear75);
    }
  }

  .KibaInputWrapper.disabled .KibaInputWrapperInner {
    background-color: var(--kiba-color-disabled-light90);
    border-color: var(--kiba-color-disabled-light20);
  }

  .KibaInputWrapper.disabled:hover .KibaInputWrapperInner {
    border-color: var(--kiba-color-disabled-light10);
  }

  .KibaInputWrapper.disabled.focus .KibaInputWrapperInner,
  .KibaInputWrapper.disabled:focus-within .KibaInputWrapperInner {
    border-color: var(--kiba-color-disabled);
  }

  .KibaInputWrapperMessage {
    font-size: 0.9em;
    color: var(--kiba-color-text-clear25);
  }

  // Error variant
  .KibaInputWrapper.error {
    @include input-states(var(--kiba-color-error-light10), $color-error);
    .KibaInputWrapperInner {
      background-color: var(--kiba-color-error-light90);
      border-color: var(--kiba-color-error-light20);
    }

    .KibaInputWrapperMessage {
      color: $color-error;
    }
  }

  // Success variant
  .KibaInputWrapper.success {
    @include input-states(var(--kiba-color-success-light10), $color-success);
    .KibaInputWrapperInner {
      background-color: var(--kiba-color-success-light90);
      border-color: var(--kiba-color-success-light20);
    }

    .KibaInputWrapperMessage {
      color: $color-success;
    }
  }
}
