@layer kiba-structure {
  .KibaContainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    &.fullHeight {
      height: 100%;
      overflow-y: auto;
    }
    &:not(.fullHeight) {
      height: auto;
      overflow-y: visible;
    }
  }
}
