@layer kiba-structure {
  .KibaSingleLineInput {
    width: 100%;
  }

  .KibaSingleLineInputInput {
    background: none;
    border: none;
    outline: none;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: none;
    width: 100%;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }

    &.disabled {
      pointer-events: none;
    }

    &.hideSpinButtons {
      &[type='number'] {
        -moz-appearance: textfield;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
