@use '../../styles/variables' as *;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaLinkBase {
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    box-sizing: border-box;
    position: relative;
    &.fullWidth {
      width: 100%;
    }
    &.fullHeight {
      height: 100%;
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}

@layer kiba-theme {
  .KibaLinkBase {
    @include box.default;
    @include box.focusable;
    opacity: 1;
    &:hover {
      background-color: var(--kiba-color-brand-primary-clear80);
    }
    &:active {
      background-color: var(--kiba-color-brand-primary-clear50);
    }
    &:focus-visible {
      @include box.focussed;
    }
    &.disabled {
      background-color: $color-disabled-text;
      &:hover {
        background-color: $color-disabled-text;
      }
    }

    // Translucent variant
    &.translucent {
      background-color: transparent;
    }

    // Card variant
    &.card {
      @include box.card;
      margin: 0;
    }

    // Image variant
    &.image {
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
    }
  }
}
