@use '../../styles/variables' as *;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaLinkBase {
    cursor: pointer;
    width: fit-content;
    &.fullWidth {
      width: 100%;
    }
    &.fullHeight {
      height: 100%;
    }
    &.disabled {
      cursor: not-allowed;
    }
    & > .KibaLinkBaseFocusFixer {
      cursor: pointer;
      color: currentColor;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-clip: padding-box;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

@layer kiba-theme {
  .KibaLinkBase {
    @include box.focusable;
    & > .KibaLinkBaseFocusFixer {
      @include box.default;
      @include box.focusable;
      opacity: 1;
    }
    &:hover > .KibaLinkBaseFocusFixer {
      background-color: var(--kiba-color-brand-primary-clear80);
    }
    &:active > .KibaLinkBaseFocusFixer {
      background-color: var(--kiba-color-brand-primary-clear50);
    }
    &:focus > .KibaLinkBaseFocusFixer {
      @include box.focussed;
    }
    &.disabled {
      & > .KibaLinkBaseFocusFixer {
        background-color: $color-disabled-text;
      }
      &:hover > .KibaLinkBaseFocusFixer {
        background-color: $color-disabled-text;
      }
    }

    // Translucent variant
    &.translucent > .KibaLinkBaseFocusFixer {
      background-color: transparent;
    }

    // Card variant
    &.card > .KibaLinkBaseFocusFixer {
      @include box.card;
      margin: 0;
    }

    // Image variant
    &.image {
      &:hover > .KibaLinkBaseFocusFixer {
        opacity: 0.8;
      }
      &:active > .KibaLinkBaseFocusFixer {
        opacity: 0.6;
      }
    }
  }
}
