@use '../../styles/variables' as *;

@layer kiba-structure {
  .KibaLinkBase {
    cursor: pointer;
    width: fit-content;
    &.fullWidth {
      width: 100%;
    }
    &.fullHeight {
      height: 100%;
    }
    &.disabled {
      cursor: not-allowed;
    }
    & > .KibaLinkBaseFocusFixer {
      cursor: pointer;
      color: currentColor;
      outline: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-clip: padding-box;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

@layer kiba-theme {
  .KibaLinkBase {
    transition-duration: 0.3s;
    & > .KibaLinkBaseFocusFixer {
      transition-duration: 0.3s;
    }
    &:hover > .KibaLinkBaseFocusFixer {
      opacity: 0.8;
    }
    &:active > .KibaLinkBaseFocusFixer {
      opacity: 0.6;
    }
    &.disabled {
      & > .KibaLinkBaseFocusFixer {
        opacity: 0.5;
      }
      &:hover > .KibaLinkBaseFocusFixer {
        opacity: 0.5;
      }
    }
  }
}
