@use '../../styles/variables' as *;
@use '../../particles/box/styles' as box;

@mixin hover-states {
  &:hover {
    background-color: var(--kiba-color-brand-primary-clear90);
  }
  &:active {
    background-color: var(--kiba-color-brand-primary-clear75);
  }
}

@layer kiba-structure {
  .KibaLinkBase {
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    box-sizing: border-box;
    position: relative;
    &.fullWidth {
      width: 100%;
    }
    &.fullHeight {
      height: 100%;
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}

@layer kiba-theme {
  .KibaLinkBase {
    @include box.default;
    @include box.focusable;
    @include hover-states;
    &:focus-visible {
      @include box.focussed;
    }
    &.disabled {
      background-color: $color-disabled-text;
      &:hover {
        background-color: $color-disabled-text;
      }
      &:active {
        background-color: $color-disabled-text;
      }
    }
    &.translucent {
      background-color: transparent;
      @include hover-states;
    }
    &.card {
      @include box.card;
      @include hover-states;
    }
    &.image {
      @include hover-states;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
    }
  }
}
