@use '../../styles/variables' as *;

@layer kiba-structure {
  .KibaDialog {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 999;

    &.closed {
      display: none;
    }
  }
}

@layer kiba-theme {
  .KibaDialog {
    background: var(--kiba-dialog-backdrop-color, rgba(0, 0, 0, 0.5));

    > .KibaDialogInner {
      background-color: var(--kiba-color-background-light10);
      border-radius: $border-radius;
      padding: $padding-wide2;
    }
  }
}
