@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@mixin default-link-hover {
  &:hover {
    color: $color-brand-secondary;
  }
}

@layer kiba-structure {
  .KibaLink {
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
    }
  }
}

@layer kiba-theme {
  .KibaLink {
    @include text.inherit;
    @include box.default;
    @include box.focusable;
    color: $color-brand-primary;
    text-decoration: underline;
    @include default-link-hover;

    &:focus-visible {
      @include box.focussed;
    }

    &.disabled {
      color: $color-disabled-text;
      &:hover {
        color: $color-disabled-text;
      }
    }

    &:visited {
      color: $color-brand-primary;
      @include default-link-hover;
    }
  }
}
