@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaTitledCollapsibleBox {
    width: 100%;
    overflow: hidden;
  }

  .KibaTitledCollapsibleBoxHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
  }

  .KibaTitledCollapsibleBoxContent {
    width: 100%;
  }
}

@layer kiba-theme {
  .KibaTitledCollapsibleBox {
    @include box.default;
    @include box.focusable;
    border-color: var(--kiba-color-background-dark10);
    .KibaTitledCollapsibleBoxHeader {
      @include text.default;
      @include text.bold;
      @include box.focusable;
      padding: $padding $padding-wide;
      background-color: var(--kiba-color-background-dark01);
      &:hover {
        background-color: var(--kiba-color-neutral);
      }
      &:active {
        background-color: var(--kiba-color-brand-primary-clear80);
      }
      &:focus-visible {
        @include box.focussed;
      }
    }
    .KibaTitledCollapsibleBoxContent {
      padding: $padding $padding-wide;
    }
    &.disabled {
      background-color: var(--kiba-color-disabled);
      .KibaTitledCollapsibleBoxHeader {
        color: $color-disabled-text;
      }
    }
  }
}
