@use '../../styles/variables' as *;
@use '../../particles/text/styles' as text;
@use '../../particles/box/styles' as box;

@layer kiba-structure {
  .KibaTitledCollapsibleBox {
    width: 100%;
    overflow: hidden;
  }

  .KibaTitledCollapsibleBoxHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
  }

  .KibaTitledCollapsibleBoxContent {
    width: 100%;
  }
}

@layer kiba-theme {
  .KibaTitledCollapsibleBox {
    @include box.default;
    background-color: $color-background;
    .KibaTitledCollapsibleBoxHeader {
      @include text.default;
      @include box.focusable;
      padding: $padding;
      background-color: $color-background-light10;
      border: none;
      &:hover {
        background-color: $color-background-dark05;
      }
      &:active {
        background-color: $color-background-dark05;
      }
    }
    .KibaTitledCollapsibleBoxContent {
      padding: $padding;
    }
  }
}
