@layer kiba-structure {
  .KibaBox {
    box-sizing: border-box;
    flex-direction: column;
    display: var(--kiba-box-display, block);
    width: var(--kiba-box-width, 100%);
    height: var(--kiba-box-height, auto);
    max-width: var(--kiba-box-max-width);
    max-height: var(--kiba-box-max-height);
    min-width: var(--kiba-box-min-width);
    min-height: var(--kiba-box-min-height);
    z-index: var(--kiba-box-z-index);
    position: var(--kiba-box-position);
  }
  .KibaBox.clipContent {
    overflow: hidden;
  }
  .KibaBox.captureTouches {
    pointer-events: all;
  }
  .KibaBox.scrollableVertically {
    overflow-y: auto;
  }
  .KibaBox.scrollableHorizontally {
    overflow-x: auto;
  }

  @media (min-width: 576px) {
    .KibaBox {
      width: var(--kiba-box-width-sm, var(--kiba-box-width, 100%));
      height: var(--kiba-box-height-sm, var(--kiba-box-height, auto));
      max-width: var(--kiba-box-max-width-sm, var(--kiba-box-max-width));
      max-height: var(--kiba-box-max-height-sm, var(--kiba-box-max-height));
      min-width: var(--kiba-box-min-width-sm, var(--kiba-box-min-width));
      min-height: var(--kiba-box-min-height-sm, var(--kiba-box-min-height));
    }
  }
  @media (min-width: 768px) {
    .KibaBox {
      width: var(--kiba-box-width-md, var(--kiba-box-width-sm, var(--kiba-box-width, 100%)));
      height: var(--kiba-box-height-md, var(--kiba-box-height-sm, var(--kiba-box-height, auto)));
      max-width: var(--kiba-box-max-width-md, var(--kiba-box-max-width-sm, var(--kiba-box-max-width)));
      max-height: var(--kiba-box-max-height-md, var(--kiba-box-max-height-sm, var(--kiba-box-max-height)));
      min-width: var(--kiba-box-min-width-md, var(--kiba-box-min-width-sm, var(--kiba-box-min-width)));
      min-height: var(--kiba-box-min-height-md, var(--kiba-box-min-height-sm, var(--kiba-box-min-height)));
    }
  }
  @media (min-width: 992px) {
    .KibaBox {
      width: var(--kiba-box-width-lg, var(--kiba-box-width-md, var(--kiba-box-width-sm, var(--kiba-box-width, 100%))));
      height: var(--kiba-box-height-lg, var(--kiba-box-height-md, var(--kiba-box-height-sm, var(--kiba-box-height, auto))));
      max-width: var(--kiba-box-max-width-lg, var(--kiba-box-max-width-md, var(--kiba-box-max-width-sm, var(--kiba-box-max-width))));
      max-height: var(--kiba-box-max-height-lg, var(--kiba-box-max-height-md, var(--kiba-box-max-height-sm, var(--kiba-box-max-height))));
      min-width: var(--kiba-box-min-width-lg, var(--kiba-box-min-width-md, var(--kiba-box-min-width-sm, var(--kiba-box-min-width))));
      min-height: var(--kiba-box-min-height-lg, var(--kiba-box-min-height-md, var(--kiba-box-min-height-sm, var(--kiba-box-min-height))));
    }
  }
  @media (min-width: 1200px) {
    .KibaBox {
      width: var(--kiba-box-width-xl, var(--kiba-box-width-lg, var(--kiba-box-width-md, var(--kiba-box-width-sm, var(--kiba-box-width, 100%)))));
      height: var(--kiba-box-height-xl, var(--kiba-box-height-lg, var(--kiba-box-height-md, var(--kiba-box-height-sm, var(--kiba-box-height, auto)))));
      max-width: var(--kiba-box-max-width-xl, var(--kiba-box-max-width-lg, var(--kiba-box-max-width-md, var(--kiba-box-max-width-sm, var(--kiba-box-max-width)))));
      max-height: var(--kiba-box-max-height-xl, var(--kiba-box-max-height-lg, var(--kiba-box-max-height-md, var(--kiba-box-max-height-sm, var(--kiba-box-max-height)))));
      min-width: var(--kiba-box-min-width-xl, var(--kiba-box-min-width-lg, var(--kiba-box-min-width-md, var(--kiba-box-min-width-sm, var(--kiba-box-min-width)))));
      min-height: var(--kiba-box-min-height-xl, var(--kiba-box-min-height-lg, var(--kiba-box-min-height-md, var(--kiba-box-min-height-sm, var(--kiba-box-min-height)))));
    }
  }
}

@layer kiba-theme {
  .KibaBox {
    background-color: transparent;
    border-radius: var(--kiba-border-radius);
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    outline-style: solid;
    outline-color: transparent;
    outline-width: 0;
    outline-offset: 0;
    opacity: 1;
  }

  .KibaBox.transparent {
    background-color: transparent;
    padding: var(--kiba-padding);
  }

  .KibaBox.padded {
    padding: var(--kiba-padding);
  }

  .KibaBox.card {
    background-color: var(--kiba-color-background-light10);
    border-color: var(--kiba-color-background-dark05);
    border-width: var(--kiba-border-width);
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.15);
    margin: 0px 4px 12px 4px;
    padding: var(--kiba-padding-wide2);
  }

  .KibaBox.bordered {
    background-color: var(--kiba-color-background-light10);
    border-color: var(--kiba-color-background-dark05);
    border-width: var(--kiba-border-width);
    padding: var(--kiba-padding-wide2);
  }

  .KibaBox.focusable {
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
  }

  .KibaBox.focussed {
    border-color: var(--kiba-color-background-dark50);
  }

  .KibaBox.rounded {
    border-radius: 50%;
  }

  .KibaBox.unpadded {
    padding: 0;
  }

  .KibaBox.unmargined {
    margin: 0;
  }

  .KibaBox.overlay {
    background-color: var(--kiba-color-background-clear75);
  }
}
