@use 'sass:color';

$colorValues: 0.01, 0.05, 0.10, 0.20, 0.25, 0.50, 0.75, 0.80, 0.90, 0.95, 0.99;

$brandPrimary: #333 !default;
$text: #333 !default;
$background: #f5f5f5 !default;
$disabledLight50: rgba(0, 0, 0, 0.1) !default;
$disabledText: #999 !default;
$focusOutline: #000 !default;
$error: #ff0000 !default;
$disabledText: #999 !default;

:root {
  --color-brandPrimary: #{$brandPrimary};
  @each $value in $colorValues {
    --color-brandPrimaryClear#{$value * 100}: #{color.adjust($brandPrimary, $space: hsl, $alpha: -$value)};
    --color-brandPrimaryLight#{$value * 100}: #{color.scale($brandPrimary, $space: hsl, $lightness: $value * 100%)};
    --color-brandPrimaryDark#{$value * 100}: #{color.scale($brandPrimary, $space: hsl, $lightness: -$value * 100%)};
  }
  --color-text: #{$text};
  @each $value in $colorValues {
    --color-textClear#{$value * 100}: #{color.adjust($text, $space: hsl, $alpha: -$value)};
    --color-textLight#{$value * 100}: #{color.scale($text, $space: hsl, $lightness: $value * 100%)};
    --color-textDark#{$value * 100}: #{color.scale($text, $space: hsl, $lightness: -$value * 100%)};
  }
  --color-background: #{$background};
  @each $value in $colorValues {
    --color-backgroundClear#{$value * 100}: #{color.adjust($background, $space: hsl, $alpha: -$value)};
    --color-backgroundLight#{$value * 100}: #{color.scale($background, $space: hsl, $lightness: $value * 100%)};
    --color-backgroundDark#{$value * 100}: #{color.scale($background, $space: hsl, $lightness: -$value * 100%)};
  }
  --color-disabledLight50: #{$disabledLight50};
  --color-disabledText: #{$disabledText};
  --color-focusOutline: #{$focusOutline};
  --color-error: #{$error};
}
