@use 'sass:color';

$brandPrimary: #333 !default;
$brandPrimaryClear10: color.adjust($brandPrimary, $alpha: -0.5) !default;
$disabledLight50: rgba(0, 0, 0, 0.1) !default;
$disabledText: #999 !default;
$focusOutline: #000 !default;
$error: #ff0000 !default;
$disabledText: #999 !default;

:root {
  --color-brandPrimary: #{$brandPrimary};
  --color-brandPrimaryClear10: #{$brandPrimaryClear10};
  --color-disabledLight50: #{$disabledLight50};
  --color-disabledText: #{$disabledText};
  --color-focusOutline: #{$focusOutline};
  --color-error: #{$error};
}
