$fontSize: '16px';
$borderRadius: '0.5em';
$borderWidth: '1px';
$borderWidthNarrow:  calc($borderWidth / 2);
$borderWidthWide: calc($borderWidth * 2);
$padding: '0.5em';
$paddingNarrow: calc($padding / 2);
$paddingNarrow1: $paddingNarrow;
$paddingNarrow2: calc($paddingNarrow1 / 2);
$paddingNarrow3: calc($paddingNarrow2 / 2);
$paddingNarrow4: calc($paddingNarrow3 / 2);
$paddingWide: calc($padding * 2);
$paddingWide1: $paddingWide;
$paddingWide2: calc($paddingWide1 * 2);
$paddingWide3: calc($paddingWide2 * 2);
$paddingWide4: calc($paddingWide3 * 2);
$columnCount: 12;
$gutter: $padding;
$screenWidthSmall: '576px';
$screenWidthMedium: '768px';
$screenWidthLarge: '992px';
$screenWidthExtraLarge: '1200px';
$screenWidthMax: '1200px';

:root {
  --dimension-fontSize: #{$fontSize};
  --dimension-borderRadius: #{$borderRadius};
  --dimension-borderWidth: #{$borderWidth};
  --dimension-borderWidthNarrow: #{$borderWidthNarrow};
  --dimension-borderWidthWide: #{$borderWidthWide};
  --dimension-padding: #{$padding};
  --dimension-paddingNarrow: #{$paddingNarrow};
  --dimension-paddingNarrow1: #{$paddingNarrow1};
  --dimension-paddingNarrow2: #{$paddingNarrow2};
  --dimension-paddingNarrow3: #{$paddingNarrow3};
  --dimension-paddingNarrow4: #{$paddingNarrow4};
  --dimension-paddingWide: #{$paddingWide};
  --dimension-paddingWide1: #{$paddingWide1};
  --dimension-paddingWide2: #{$paddingWide2};
  --dimension-paddingWide3: #{$paddingWide3};
  --dimension-paddingWide4: #{$paddingWide4};
  --dimension-columnCount: #{$columnCount};
  --dimension-gutter: #{$gutter};
  --dimension-screenWidthSmall: #{$screenWidthSmall};
  --dimension-screenWidthMedium: #{$screenWidthMedium};
  --dimension-screenWidthLarge: #{$screenWidthLarge};
  --dimension-screenWidthExtraLarge: #{$screenWidthExtraLarge};
  --dimension-screenWidthMax: #{$screenWidthMax};
}
