@layer kiba-structure {
  .KibaLayerContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .KibaLayerContainerLayer {
    &.isFullWidth {
      width: 100%;
    }
    &.isFullHeight {
      height: 100%;
    }
    &.passThroughTouches {
      pointer-events: none;
    }
  }
}
